<%- include("header") -%>
  <body>
    <main role="main" class="container">
      <h1> Comments Page</h1>
	  <h2>Hello <% atob(<%=username %>) %></h2>
	  <% for(var i=0; i < messages.length; i++){ %>
			<%=dates[i] %> | | <%=usernames[i] %> | | <%=messages[i] %><br>
	  <% } %>
	  <form class="form-close" action="/post-comment" method="post" style="margin-top:30px">
        <input type="text" name="comment" required>
		<input type="hidden" name="username" value=<%=username %>>
		<input type="hidden" id="date" name="date" value="">
		<script>
			 var date_time = new Date();
			document.getElementById("date").value = date_time;
		</script>
        <button class="btn btn-success" type="submit">Post Comment</button>
      </form>
	  <form action="/gotologin" method="post">
		<button class="btn btn-success" type="submit" style="margin-top:5px; margin-bottom:5px;">Log Out</button>
    </form>
    </main>
  </body>

<%- include("footer") -%>
